mlc/w*/machine-learning-ex*/ex*.pdf
mlc/w*/machine-learning-ex*/ex*/lib
mlc/w*/machine-learning-ex*/ex*/ex*
mlc/w*/machine-learning-ex*/ex*/map*
mlc/w*/machine-learning-ex*/ex*/plotDecision*
mlc/w*/machine-learning-ex*/ex*/submit.m
mlc/w*/machine-learning-ex*/ex*/token.mat
mlc/w4/machine-learning-ex3/ex3/fmin*
mlc/w4/machine-learning-ex3/ex3/sigmoid.m
mlc/w4/machine-learning-ex3/ex3/displayData.m
